/* move special fonts to HTML head for better performance */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,600,700');

/* custom template */
html,
body {
  height: 100%;
  font-family: 'Open Sans', arial, sans-serif;
}

#sidebar {
  background-attachment: fixed;
  background-image: url('static/images/MoonStaticBackground.png');
}



.bg-steel {
  background-color: #252525;
}


.table-condensed {
  width: 100%;
  font-size: 16px;
  border: none;
  text-align: left;
  border-spacing: 6px;
  border-collapse: collapse;
}

.small-text {
  font-size: 14px;
}

td.red_negpos {
  color: red;
}

td.green_negpos {
  color: green;
}

.hinumber {
  color: #1f5168;
}

.hinumbersmall {
  color: #1f5168;
}

pre {
  font-family: monospace;
  background-color: #36363A;
}

.codetext {
  font-family: monospace;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  width: 100%;
  height: 100%;
  padding: 3em;
  line-height: 105%;
}


.emptycell {
  background-color: #e6e6e6;
}


/* CSS for Animated Loading info */
#wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 80em;
}

.loadanim {
  animation: text-shadow 1s ease-in-out infinite;
  font-size: 14px;
  font-weight: 300;
  line-height: 1;
}

a {
  color: #024794;
}

@keyframes text-shadow {
  0% {
    transform: translateY(0);
    text-shadow: 0 0 0 #0c2ffb, 0 0 0 #2cfcfd, 0 0 0 #fb203b, 0 0 0 #fefc4b;
  }

  20% {
    transform: translateY(-1em);
    text-shadow: 0 0.125em 0 #0c2ffb, 0 0.25em 0 #2cfcfd, 0 -0.125em 0 #fb203b,
      0 -0.25em 0 #fefc4b;
  }

  40% {
    transform: translateY(0.5em);
    text-shadow: 0 -0.0625em 0 #0c2ffb, 0 -0.125em 0 #2cfcfd,
      0 0.0625em 0 #fb203b, 0 0.125em 0 #fefc4b;
  }

  60% {
    transform: translateY(-0.25em);
    text-shadow: 0 0.03125em 0 #0c2ffb, 0 0.0625em 0 #2cfcfd,
      0 -0.03125em 0 #fb203b, 0 -0.0625em 0 #fefc4b;
  }

  80% {
    transform: translateY(0);
    text-shadow: 0 0 0 #0c2ffb, 0 0 0 #2cfcfd, 0 0 0 #fb203b, 0 0 0 #fefc4b;
  }
}


.large-table {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
  table-layout: fixed;
  width: 100%;
}


.shaker {
  position: relative;
  animation-name: shake;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  cursor: pointer;
}

.shaker:hover {
  animation-name: shakeAnim;
}

@keyframes shakeAnim {
  0% {
    left: 0;
  }

  1% {
    left: -3px;
  }

  2% {
    left: 5px;
  }

  3% {
    left: -8px;
  }

  4% {
    left: 8px;
  }

  5% {
    left: -5px;
  }

  6% {
    left: 3px;
  }

  7% {
    left: 0;
  }
}

@keyframes shake {
  0% {
    left: 0;
  }

  1% {
    left: -3px;
  }

  2% {
    left: 5px;
  }

  3% {
    left: -8px;
  }

  4% {
    left: 8px;
  }

  5% {
    left: -5px;
  }

  6% {
    left: 3px;
  }

  7% {
    left: 0;
  }
}


.numberCircle {
  border-radius: 20% !important;
  width: 12px !important;
  height: 12px !important;
  padding: 2px !important;
  background: #da5526;
  border: 2px solid #da552;
  color: white;
  text-align: center;
  font: 10px Arial, sans-serif;
  font-weight: bold;
}

.stripedBackground {
  color: white;
  background: repeating-linear-gradient(-55deg,
      rgb(254, 254, 254),
      rgb(254, 254, 254) 10px,
      rgb(248, 248, 248) 10px,
      rgb(248, 248, 248) 20px);
}

.statusbox {
  z-index: 0;
  background: #404040;
  border: 1px solid #dddddd;
  border-radius: 5px;
  padding: 15px;
  margin-left: 20px;
  color: lightgreen;
  text-decoration: none !important;
}


.changebox {
  font-family: sans-serif;
  font-size: 16px;
  background: #ffffff;
  border: 2px solid #bebebe;
  border-radius: 10px;
  padding: 20px;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: 5px;
  margin-right: 5px;
  color: black;
}


.td-part-fill {
  background-image: linear-gradient(to right, #ffffff 10%, #009c41 100%);
  /* your gradient */
  background-repeat: no-repeat;
  /* don't remove */
}

.scrollable-menu {
  height: auto;
  max-height: 500px;
  overflow-x: hidden;
}


/* Define the hover highlight color for the table row */
.hoverTable tr:hover {
  background-color: rgb(216, 216, 216);
  color: white;
}

.tableFixHead {
  overflow-y: auto;
  height: 100px;
}

.tableFixHead thead th {
  position: sticky;
  top: -32px;
}