{% extends "warden/warden_layout.html" %}
{% block content %}

<div class="row">
    <div class="col-sm-2">

        <i class="fas fa-fire fa-8x"></i>

    </div>


    <div class="col-sm-8">
        <h1>
            404 ERROR
        </h1>
        <hr>
        <h3>
            Accidents happen </br>
            </br>
        </h3>
        <h4>
            Looks like the page you are trying to reach has </br>
            spontaneously combusted. Gone. For good...
        </h4> </br>

    </div>
</div>


{% endblock content %}