{% extends "warden/warden_layout.html" %} {% block content %}


<div class="container">
    <div class="row">
        <div class="col-4">
            <div class="card border-dark mb-3" style="max-width: 18rem;">

                {%if 'tor' in status%}
                <div class="card-header">Tor
                    <span class='float-right small'>
                        {{status['tor']['status'] | running_status | safe}}
                    </span>

                </div>
                {%endif%}

                <div class="card-body text-dark">

                    <span class="card-text">

                        <table class="table table-striped≠ small">
                            <thead class="thead-dark">
                                <tr>
                                    <td class='text-left'>Last Check</td>
                                    <td class='text-right'>{{status['tor']['last_refresh'] | time_ago}}</td>
                                </tr>


                                {%if status['tor']['status'] is not false%}
                                {%if 'pre_proxy' in status['tor']%}

                                {%set speed = status['tor']['difference'] | float%}
                                {%set speed = speed / 5 * 100%}

                                <tr class='td-part-fill' style='background-size: {{speed}}% 100%'>
                                    <td colspan='2'>
                                        <span style="color: grey; mix-blend-mode: difference;">
                                            {{status['tor']['difference']}}x slower than open net
                                        </span>
                                    </td>
                                </tr>

                                <tr>
                                    <td class='text-left'>IP Address</td>
                                    <td class='text-right'>
                                        {{status['tor']['pre_proxy']['ip'] | shorten(18, '[..]') | safe | sensitive}}
                                    </td>
                                </tr>

                                <tr>
                                    <td class='text-left'>Country</td>
                                    <td class='text-right'>
                                        {{status['tor']['pre_proxy']['country'] | shorten(18, '[..]') | safe | sensitive}}
                                    </td>
                                </tr>
                                <tr>
                                    <td class='text-left'>Tor IP Address</td>
                                    <td class='text-right'>
                                        {{status['tor']['post_proxy']['ip'] | shorten(18, '[..]') | safe | sensitive}}
                                    </td>
                                </tr>
                                <tr>
                                    <td class='text-left'>Port</td>
                                    <td class='text-right'>
                                        {{status['tor']['port'] | shorten(18, '[..]') | safe | sensitive}}</td>
                                </tr>
                                <tr>
                                    <td class='text-left'>Country</td>
                                    <td class='text-right'>
                                        {{status['tor']['post_proxy']['country'] | shorten(15, '[..]') | safe | sensitive}}
                                    </td>
                                </tr>

                                {%endif%}
                                {%endif%}

                            </thead>
                        </table>
                    </span>
                </div>
            </div>

            <div class="card border-dark mb-3" style="max-width: 18rem;">
                <div class="card-header">Price Feeds

                </div>
                <div class="card-body text-dark">

                    <span class="card-text">

                        <table class="table table-striped≠ small">
                            <thead class="thead-dark">
                                {%if 'DISPLAY' in status['multi_price']%}
                                <tr>
                                    <td class='text-left'>Last Check</td>
                                    <td class='text-right'>{{status['last_price_refresh'] | time_ago}}</td>
                                </tr>
                                <tr>
                                    <td class='text-left'>Bitcoin Price</td>
                                    <td class='text-right'>{{status['multi_price']['DISPLAY']['BTC']['USD']['PRICE']}}
                                    </td>
                                </tr>
                                <tr>
                                    <td class='text-left'>24hr Change</td>
                                    <td class='text-right'>
                                        {{status['multi_price']['DISPLAY']['BTC']['USD']['CHANGEPCT24HOUR']}}%
                                    </td>
                                </tr>
                                <tr>
                                    <td class='text-left'>Exchange</td>
                                    <td class='text-right'>
                                        {{status['multi_price']['DISPLAY']['BTC']['USD']['LASTMARKET']}}
                                    </td>
                                </tr>
                                {%else%}
                                <tr>
                                    <td class='text-left text-warning'>Error getting price data</td>
                                </tr>
                                {%endif%}
                            </thead>
                        </table>
                    </span>
                </div>
            </div>

        </div>

        <div class="col-8">
            <h5>Terminal Output</h5>
            <div id='terminal' style='height:650px;'>
                <pre class=' codetext'> Loading... </pre>
            </div>
        </div>
    </div>
</div>





<script src="{{url_for('static', filename='js/dashboard.js')}}"></script>


{% endblock content %}